:host > div {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin: 0;
    padding:0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hidden {
    display: none;
}

:host > div > div {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 2px solid black;
    width: 25em; 
}


:host > div > div > span {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

:host > div > div > span:hover,
:host > div > div > span:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

:host > div > div > table {
  margin: 0;
  padding: 0;
}
